*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    overflow-x: hidden;
}

h1 h2 h3 h4 h5 h6 p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.navlinks{
    max-width: fit-content;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.nav-options {
    list-style-type: none;
}

.nav-options a {
    text-decoration: none;
    color:black
}

.contact-btn {
    list-style-type: none;
}

.contact-btn button{
    font-weight: 500;
    border: none;
    padding: 15px 25px;
    background-color: #05a4e1;
    color: white;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
}

.contact-btn button:hover{
    background-color: #fff;
    color: #05a4e1;
    border: 1px solid #05a4e1;
}

.nav-options a:after {
    display:block;
    content: '';
    border-bottom: solid 1px #05a4e1;;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

a:hover:after { transform: scaleX(1); }

.hero-sec{
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.hero-text{
    width: 59%;
    margin-top: 200px;
}

.hero-text h1{
    font-size: 64px;
    line-height: 69px;
    font-weight: 300;
    text-align: left;
}

.hero-text p {
    margin: 20px 0 ;
    font-size: 18px;
    line-height: 28px;
    width: 80%;
}

.store-btns{
    display: flex;
    gap: 25px
}

span{
    font-weight: 900 ;
    text-transform: capitalize;
}

.hero-img{
    width: 35%;
}

.hero-img img{
    width: 561px;
    height: auto;
}

.features-sec{
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    display: flex;
    gap: 30px;
}

.features-img img{
    width: 416.3px;
    height: auto;
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 50px;
}

.featured-text{
    margin-left: 82px;
}

#greenheading{
    color: #00C900;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 16%;
}

.featured-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.featured-text h3{
    text-transform: capitalize;
    margin: 20px 0;
}

.featured-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.aboutus-sec{
    display: flex;
    padding-top: 200px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

#blueheading{
    color: #05A4E1;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 16%;
}

.aboutus-text h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-transform: capitalize;
}

.aboutus-text p{
    margin: 20px 0;
}

.aboutus-img img{
    width: 416.3px;
    height: auto;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50px;
}

.whychooseus-sec{
    width: 80%;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 200px;
}

#redheading{
    font-weight: 500;
    color: #F2374E;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 16%;
}

.whychooseus-text h3{
    text-transform: capitalize;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}

.whychooseus-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.whychooseus-img img{
    width: 404.81px;
    height: auto;
    background-color: rgba(68, 68, 255, 0.1);
}

.faq-sec{
    margin: 0 auto;
    width: 95%;
    align-items: center;
    padding-top: 100px;
}

#faqsmallheading{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 16%;
    text-align: center;
    color:  #05A4E1;
}

.faq-sec h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
}

.faqtext{
    align-items: center;
    width: 70%;   
    border-radius: 18px;
    background-color: white;
    color: black;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.5s;
    padding: 50px;
    margin: 0 auto;
}

.faqtext:hover{
    background-color: #05A4E1;
    color: white;

}


.faqtext h4{

    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-transform: capitalize;
}

.faqtext p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.faqcolumns{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 50px;
    margin: 0 auto;
}

.getstarted-sec{
    position: relative;
    background-image: url(images/Frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    height: 437px;
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

.getstarted-col1{
    margin-left: 70px;
    width: 60%;
}

.getstarted-text{
    width: 50%;
    margin: 0 auto;
}

.getstarted-text h4{
    text-transform: capitalize;
    font-size: 64px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    color: white;
}

.getstarted-text p {
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-align: left;
    color:white;
}

.getstarted-col2 img{
    position: absolute;
    width: 300px;
    right: 300px;
    top: 20px
}

.contact-sec{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.footer-col1{
    width: 33.3%;
}

.footer-col1 img{
    width: 99.16px;
}

.footer-col1 p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #808080;

}


.footer-col2{
    width: 33.3%;
    display: flex;
    justify-content: space-around;
}

.col2-links h4, .col2-legal h4{
    font-size: 26px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;

}

.col2-links a , .col2-legal a{
    display:block;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    color: #121212;
    gap: 12px;
    margin: 20px 0;

}

.footer-col3 h4{
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;

}

.msg{
    margin: 20px 0;
    display: flex;
    gap: 5px;
}

.msg p{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.msg img{
    width: 24px;
}

.phn p{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.phn img{
    width: 24px
}


.phn{
display: flex;
gap: 5px;
}

footer{
    padding-top: 100px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #808080;
}


/*TERMS AND CONDITIONS STYLES*/

.terms-sec{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

.terms-sec h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.terms-sec h2 , h3{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    text-align: left;
    margin: 30px 0;
}

.terms-sec h2 {
    font-weight: 700;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 30px 0;
    padding: 0;
  }

  li{
    margin: 20px 0;
  }
  
ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  
  li ol > li {
    margin: 0;
  }
  
  li ol > li:before {
    content: counters(item, ".") " ";
  }

#alphabets{
    list-style-type:lower-alpha;
}

.privacy-sec{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

.privacy-sec h1 ,p{
    margin-bottom: 20px;
}

@media (max-width: 1439px) {

    

}

/* Medium devices (Tablets, 768px to 1023px) */
@media (max-width: 1023px) {
}